.custom-navbar {
  background-color: #f1f1f1 !important; /* grigio chiaro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-navbar .nav-link {
  color: #333 !important; /* testo più scuro */
}

.nav-link.active {
  color: #007bff !important; /* Cambia colore a blu */
  font-weight: bold;
}

.custom-navbar .nav-link:hover {
  color: #000 !important; /* al passaggio del mouse */
}

.custom-navbar .navbar-text {
  color: #333 !important;
}

footer a:hover {
  color: #007bff;
}

.min-vh-75 {
  min-height: 80vh;
}


body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 10px; /* altezza reale navbar */
  min-height: calc(100vh - 160px); /* navbar + footer (approssimato) */
}

.fill-content {
  min-height: calc(100vh - 160px);
}